---
import PageLayout from "@/layouts/Base";
// import { Image } from "@astrojs/image/components";
// import aboutImg from "../assets/about-astro.png";
import ExperienceList from "@/components/ExperienceList";

const talks = [
	{
		title: "Cell Driven Development",
		link: null,
		institution: "Toronto Elixir Meetup @ theScore",
		location: "Toronto, Canada",
		startDate: "June 2023",
	},
];

const experience = [
	{
		title: "Teaching Assistant",
		institution: "Toronto Metropolitan University",
		group: "Department of Mathematics",
		location: "Toronto, Canada",
		startDate: "Sept 2021",
		endDate: "May 2022",
	},
	{
		title: "Data Scientist",
		institution: "Royal Bank of Canada",
		group: "Global Technology Risk",
		location: "Toronto, Canada",
		startDate: "July 2019",
		endDate: "Sept 2021",
	},
	// {
	// 	title: "Data Scientist Summer Student",
	// 	institution: "Royal Bank of Canada",
	// 	group: "Global Technology Risk",
	// 	location: "Toronto, Canada",
	// 	startDate: "May 2018",
	// 	endDate: "Aug 2018",
	// },
	{
		title: "Data Analyst",
		institution: "Ontario Ministry of Energy",
		group: "Economics and Systems Planning Group",
		location: "Toronto, Canada",
		startDate: "May 2017",
		endDate: "Aug 2017",
	},
];

const education = [
	{
		title: "Full-Stack Development with Elixir",
		institution: "DockYard Academy",
		location: "Remote",
		startDate: "Feb 2023",
		endDate: "May 2023",
	},
	{
		title: "Bachelor of Science - Financial Mathematics, Economics Minor",
		institution: "Toronto Metropolitan University ",
		location: "Toronto, Canada",
		startDate: "Sep 2014",
		endDate: "May 2019",
	},
];

const meta = {
	title: "About",
	description: "About me.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			My main tools are Elixir, Python, Ruby, and JavaScript, and whatever else I need to get the job done. I am most interested in full-stack web development, data engineering, and machine learning projects. I am always looking to push myself and learn new things from my projects and working with others.
		</p>

		<h2 class="title mb-4 text-xl">Talks</h2>
		<ExperienceList experienceList={talks} />
		<h2 class="title mb-4 text-xl">Experience</h2>
		<ExperienceList experienceList={experience} />
		<h2 class="title mb-4 text-xl">Education</h2>
		<ExperienceList experienceList={education} />
	</div>
</PageLayout>
