---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
---

<BaseLayout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>PERSONAL DESCRIPTION HERE</p>
  <p>The technologies that I use most often and am passionate about learning:</p>
  <ul>
    <li>Python, Django, Jax</li>
    <li>Elixir, Phoenix, Nx</li>
    <li>JavaScript, Svelte, Astro</li>
  </ul>

  <p>Professional Experience:</p>
  <ul>
    <li>
      <div>
        <text>Toronto Metropolitan University</text> <br>
        <text>DATE HERE</text> <br>
        <text>Teaching Assistant</text>
      </div>
    </li>
    <li>
      <div>
        <text>Royal Bank of Canada</text> <br>
        <text>July 2019 - September 2021</text> <br>
        <text>Data Scientist, Global Technology Risk</text>
      </div>
    </li>
    <li>
      <div>
        <text>Royal Bank of Canada</text> <br>
        <text>May 2018 - August 2018</text> <br>
        <text>Data Scientist Summer Student, Global Technology Risk</text>
      </div>
    </li>
    <li>
      <div>
        <text>Ontario Ministry of Energy</text> <br>
        <text>May 2017 - August 2017</text> <br>
        <text>Data Analyst, Economics and Systems Planning Group</text>
      </div>
    </li>
  </ul>

  <p>Education:</p>
  <ul>
    <li>
      <div>
        <text>DockYard Academy</text> <br>
        <text>February 2023 - May 2023 </text> <br>
        <text>Full Stack Development with Elixir</text>
      </div>
    </li>
    <li>
      <div>
        <text>Toronto Metropolitan University</text> <br>
        <text>September 2014 - May 2019</text> <br>
        <text>Bachelor of Science (Honours) - Financial Mathematics, Economics Minor</text>
      </div>
    </li>
  </ul>
</BaseLayout>
