---
const { name, url, description, topics } = Astro.props;
---

<div class="mb-4 space-y-1">
	{url ? 
		<a class="cactus-link" href={url}>{name}</a> : 
		<p>{name}</p>
		<p class="italic">Coming soon</p>
	}
	{description ? <p class="italic">{description}</p> : null}
	{
		topics && topics.length > 0 ? (
			<p class="font-style: italic text-gray-500">
				Tools: {topics.join(', ')}
			</p>
		) : null
	}
</div>
