---
const { name, url, description, topics } = Astro.props;
---

<div class="mb-4 space-y-1">
    <a class="cactus-link" href={url}>{name}</a>
    {description ? <p>{description}</p> : null}
    {topics && topics.length > 0 ? 
        <p class="text-gray-500 font-style: italic">Topics: {
            topics.map((topic, index, array) => (
                <span>{topic}{index !== array.length - 1 ? ', ' : ''}</span>
            ))
        }</p> : null 
    }
</div>
